body{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*CONTAINER*/
.container{
    width: 1180px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

/*HEADER*/
.header{
    font-size: 23px;
    font-weight: 400;
    color: #fff;

    width: 100%;
    height: auto;

    background: #3C3C3C;
}

.header__inner{
    display: flex;
    align-items: center;

    padding: 10px 0;
}

.header__logo{
    font-size: 35px;

    margin-right: 72px;
}
.text__color{
    color: #E74C41;
}

.nav{

}
.nav__link{
    text-decoration: none;
    color: #fff;

    margin-right: 30px;

    transition: all 0.3 linear;
}
.nav__link:last-child{
    margin-right: 0;
}
.nav__link:hover{
    color: #b5b5b5;
    text-decoration: underline;
}

.bag{
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #fff;

    width: 155px;
    height: 33px;

    margin-left: 58px;

    background: #E74C41;

    cursor: pointer;
    outline: none;

    border: none;
    border-radius: 6px;
}

/*INTRO*/
.intro{
    width: 100%;
    height: 909px;

    background: url(/img/intro/background.png) no-repeat center;
    background: cover;
}

.intro_inner{
    padding-top: 133px;

    display: flex;

    align-items: center;
}

.intro__title{
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 94px;
    color: #000;
    text-align: right;

    width: 730px;
    height: 188px;

}

.line{
    height: 205px;

    content: "";

    border-left: 6px solid #E74C41;

    margin-left: 22px;
    margin-right: 19px;
}

.intro_btn{

}

.intro__text{
    font-size: 55px;
    color: #E74C41;

    width: 407px;
}

.btn{
    width: 400px;
    height: 71px;

    margin-top: 17px;

    font-size: 30px;
    color: #fff;

    background: #E74C41;
    box-shadow: 0px 4px 4px rgba(139, 42, 35, 0.31);

    cursor: pointer;
    outline: none;

    border: none;
    border-radius: 6px;
}

.arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 310px;
}

/*KINDS*/
.kinds{
    width: 100%;
    height: 467px;

    background: url(img/kinds/background.png) no-repeat center;
    background: cover;
}
.kinds:before,
.kinds:after{
    width: 100%;
    height: 3px;
    content: "";
    display: block;

    background-color: #000;
}

.kinds__inner{
    padding-top: 66px;
}

.kinds__title{
    font-size: 40px;
    color: #000;
    text-align: center;

    margin: 0;
}


.chairs{
    width: 100%;
    height: auto;

    display: flex;

    margin-bottom: 58px;
}

.chairs__item{
    width: 16.666%;
    height: auto;

    text-align: center;

    padding: 32px 20px;
    margin-top: 36px;
    margin-left: 15px;

    border: 2px solid #C4C4C4;
    border-radius: 5px;

    background: #fff;
}

.chair__img{
    width: 127px;
    height: auto;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

.item__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;

    width: 127px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;

}

.chairs__item:hover{
    cursor: pointer;

    border: 2px solid #E74C41;
    box-shadow: 4px 3px 9px rgba(147, 64, 59, 0.3);

    color: #E74C41
}


/*ABOUT US*/
.aboutUs{
    width: 100%;
    height: 1029px;

    background: url(/img/aboutUs/background.png) no-repeat center;
    background: cover;
}

.aboutUs__inner{
    padding-top: 44px;
}

.aboutUs_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #E74C41;
    text-align: right;

    margin: 0;

}

.adoutUs__text{
    text-align: right;
    font-size: 30px;
    line-height: 45px;
}
.text1{
    width: 991px;
}
.text2{
    width: 926px;
}
.text3{
    width: 697px;
}
.adoutUs__text p{
    margin-left: auto;
    margin-right: 0;
    margin-top: 13px;
}

.partners{
    width: 100%;
    height: 292px;

    margin-top: 171px;

    background: rgba(0, 0, 0, 0.42);
}

.partners__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;

    padding-top: 17px;
    margin-bottom: 12px;
}

.partners__inner,
.slider{
    padding-bottom: 34px;
    width: 100%;
    height: 172px;
    padding-left: 60px;
    padding-right: 60px;
}

..slick-track{
    display: flex;
}

.slider .slick-arrow{
    border: none;
    outline: none;
    font-size: 0;
    width: 44px;
    height: 76px;
    margin: -38px 0 0 0;

    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 10;
}
.slider .slick-arrow.slick-prev{
    right: 0;
    background: url(img/aboutUs/partners/arrow_left.png) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
    left: 0;
    background: url(img/aboutUs/partners/arrow_right.png) 0 0 / 100% no-repeat;
}


/*LOCATION*/
.location{
    width: 100%;
    height: 1048px;
}
.location:before{
    width: 100%;
    height: 3px;
    content: "";
    display: block;

    background-color: #000;
}

.location__inner{
    padding-top: 47px;
}

.loc__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #E74C41;
    text-align: center;

    margin: 0;
}

.loc__item{
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.description{
    width: 480px;
    height: 410px;

    display: flex;

    background: linear-gradient(232.02deg, #F55D52 0%, #DE463B 99.04%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px 0px 0px 15px;
}

.desc_line{
    content: "";
    height: 345px;
    border-left: 2px solid #fff;
    margin-left: 76px;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-right: 53px;
}

.desc__text{
    text-align: left;
}

.loc_logo{
    font-size: 52px;
    color: #fff;

    margin: 0;
    padding-top: 39px;
}
.logo__color{
    color: #000;
}

.info{
    font-size: 33px;
    color: #fff;

    margin: 14px 0;
}

.desc__text p{
    margin: 0;
}

.loc__img{
    border-radius: 15px;
    border: 2px solid #F55D52;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 478px;
}


/*FOOTER*/
.footer{
    width: 100%;
    height: 564px;

    background: #3C3C3C;
}

.footer__inner{
    display: flex;
    margin-top: -134px;

    padding-top: 174px;
}

.assortment{
    font-size: 20px;
    color: #A6A6A6;
}

.footer_line{
    font-size: 20px;
    color: #fff;

    padding-left: 4px;
    border-left: 2px solid #fff;
}

.some_info{
    margin-left: -61px;
}

.callUs{
    width: 403px;
    height: 322px;

    margin-left: 48px;

    background: #FFFFFF;
    border-radius: 15px;
}

.callUs__inner{
    margin: 0 9px;
}

.call_title{
    font-size: 20px;
    color: #F55D52;
    margin: 20px 0 0 0;
}

.username{
    border: none;
    border-radius: 4px 4px 0px 0px;
    outline: none;
    background: #EDEDED;

    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 8px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}
.username:focus,
.username:hover{
    border-bottom: 2px solid #E74C41;
}

.textplace{
    border: none;
    border-radius: 4px 4px 0px 0px;
    outline: none;
    background: #EDEDED;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);

    width: 100%;
    height: 145px;
    padding: 8px;
    resize: none;
}
.textplace:focus{
     border-bottom: 2px solid #E74C41;
}

.callUs__inner button{
    width: 100%;
    height: 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    background: #E74C41;
    box-shadow: 0px 4px 4px rgba(139, 42, 35, 0.31);

    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
}

.media{
    margin-left: auto;
    margin-right: 0;
}
.media_item{
    display: flex;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 26px;
    float: right;
}

.social_icon{
    display: block;
    width: 35px;
    height: 35px;

    fill: #C4C4C4;

    margin-right: 17px;
}
.social_icon:hover{
    fill: #E74C41;
}

.media p{
    text-align: right;
    font-size: 20px;
    color: #fff;

    margin: 0;
}

.pay__item{
    display: flex;
    margin-top: 21px;
    margin-left: auto;
    margin-right: 0;
    float: right;
}

.pay_icon{
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 15px;
}

